{
  "project_info": {
    "project_number": "1065150630879",
    "project_id": "youhoo-alert-app",
    "storage_bucket": "youhoo-alert-app.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_AFTER_FIREBASE_ANDROID_APP",
        "android_client_info": {
          "package_name": "com.youhooalert.com"
        }
      },
      "oauth_client": [
        {
          "client_id": "YOUR_WEB_CLIENT_ID.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "YOUR_FIREBASE_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
